<div class="container__small-card">
    
    <div class="container__small-card-content">

        <div class="small-card__photo">
            <img src="https://media.istockphoto.com/id/1295900106/pt/foto/data-scientists-male-programmer-using-laptop-analyzing-and-developing-in-various-information.jpg?s=612x612&w=0&k=20&c=joiscY6WJHNcxAReKtk7ZMDUzmoUad5kA1YLSMOec9M="
            alt=""
            srcset=""
            >
        </div>
        
        <div class="small-card__title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>

    <div class="container__small-card__separator">
        <hr color="gray">
    </div>

</div>